body {
    margin: 0; /* Встановлює зовнішній відступ всередині тіла документа на 0 */
    padding: 0; /* Встановлює внутрішній відступ всередині тіла документа на 0 */
    font-family: Arial, sans-serif; /* Задає шрифт для всього тексту */
    background-color: #e4e4e4; /* Задає колір фону сторінки */
}

header {
    top: 0; /* Встановлює відступ від верхнього краю вікна браузера */
    left: 0; /* Встановлює відступ від лівого краю вікна браузера */
    width: 97.5%; /* Задає ширину заголовку */
    height: 100vh; /* Задає висоту заголовку відносно висоти вікна браузера */
    background-color: #baff39; /* Задає колір фону заголовку */
    padding: 20px; /* Встановлює внутрішні відступи для заголовку */
    text-align: center; /* Вирівнює текст у центрі */
}

header h1 {
    margin: 0; /* Встановлює зовнішній відступ тексту заголовку на 0 */
    color: #6e6e6e; /* Задає колір тексту заголовку */
}

main {
    margin-top: 0%; /* Встановлює зовнішній відступ від верхнього краю головного блоку на 0% */
    display: flex; /* Встановлює властивість flex для властивостей блоку */
    padding: 20px; /* Встановлює внутрішні відступи для головного блоку */
}

#main-content {
    background-color: #e4e4e4; /* Задає колір фону основного вмісту */
    padding: 20px; /* Встановлює внутрішні відступи для основного вмісту */
}
  
aside h2 {
    color: #6e6e6e; /* Задає колір тексту заголовку в бічній панелі */
}

.shah_img{
    float: left; /* Задає обтікання тексту зліва */
    padding-right: 10px; /* Задає внутрішній відступ справа */
}

input[type="text"] {
    width: 270px; /* Задає ширину поля вводу тексту */
    padding: 8px; /* Встановлює внутрішні відступи для поля вводу тексту */
    margin-bottom: 10px; /* Встановлює зовнішній відступ від нижнього краю поля вводу */
    border-radius: 20px; /* Задає радіус кутів для поля вводу */
}

button[type="submit"] {
    background-color: #6e6e6e; /* Задає колір фону кнопки */
    color: #ffffff; /* Задає колір тексту кнопки */
    border: none; /* Видаляє рамку навколо кнопки */
    padding: 10px 20px; /* Встановлює внутрішні відступи для кнопки */
    cursor: pointer; /* Змінює курсор при наведенні на кнопку */
    border-radius: 10%; /* Задає радіус кутів для кнопки */
}

button[type="submit"]:hover {
    background-color: #4c4c4c; /* Задає колір фону кнопки при наведенні */
}

ul {
    list-style-type: none; /* Видаляє маркери списку */
    padding: 0; /* Встановлює зовнішній відступ списку на 0 */
}

ul li {
    margin-bottom: 10px; /* Встановлює зовнішній відступ від нижнього краю елементів списку */
}

ul li a {
    color: #6e6e6e; /* Задає колір посилання */
    text-decoration: none; /* Видаляє підкреслення посилання */
}

ul li a:hover {
    text-decoration: underline; /* Додає підкреслення посиланню при наведенні */
}

.footer {
    margin: 0; /* Встановлює зовнішній відступ нижнього колонтитула на 0 */
    color: #6e6e6e; /* Задає колір тексту нижнього колонтитула */
    text-align: center; /* Вирівнює текст по центру */
    padding: 10px 0; /* Встановлює внутрішні відступи нижнього колонтитула */
    position: fixed; /* Фіксує колонтитул на вікні браузера */
    bottom: 0; /* Встановлює відступ від нижнього краю вікна браузера */
    width: 100%; /* Задає ширину нижнього колонтитула на всю ширину вікна браузера */
}

iframe{
    padding-left: 20px; /* Встановлює внутрішній відступ зліва для iframe */
}

section h2 {
    display: flex; /* Встановлює властивість flex для заголовку */
    justify-content: center; /* Вирівнює заголовок по центру */
    align-items: center; /* Вирівнює заголовок по вертикалі по центру */
    flex-wrap: wrap; /* Дозволяє заголовку переноситися на наступний рядок */
}

#pages{
    padding: 20px 0; /* Встановлює внутрішні відступи для блоку зі сторінками */
}

#pages div{
    margin: 25px 5px; /* Встановлює зовнішній відступ для блоків сторінок */
}

#pages a {
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out; /* Задає плавний перехід кольорів */
    border: 2px solid #000000; /* Задає рамку для посилань */
    padding: 5px 15px; /* Встановлює внутрішні відступи для посилань */
    background-color: #FFFFFF; /* Задає колір фону посилань */
    border-radius: 10px; /* Задає радіус кутів для посилань */
    text-decoration: none; /* Видаляє підкреслення посилань */
    color: #333; /* Задає колір тексту посилань */
    font-size: 16px; /* Задає розмір шрифту для посилань */
}

#pages a:hover {
    background-color: #BAFF39; /* Задає колір фону посилань при наведенні */
    color: #000000; /* Змінює колір тексту посилань при наведенні */
}
