header {
    top: 0; /* Встановлює відступ від верхнього краю вікна браузера */
    left: 0; /* Встановлює відступ від лівого краю вікна браузера */
    width: 100%; /* Задає ширину заголовку */
    height: 5%; /* Задає висоту заголовку відносно висоти вікна браузера */
    background-color: #6E6E6E; /* Задає колір фону заголовку */
    /* padding: 20px; Встановлює внутрішні відступи для заголовку */
    text-align: center; /* Вирівнює текст у центрі */
}

body {
    background-color: #baff39; /* Задає колір фону для всього документа */
    margin: 0;
    padding: 0;
    }

h1 {
    color: #FFFFFF; /* Задає колір тексту заголовка */
    text-align: center; /* Вирівнює текст у заголовку по центру */
    padding-top: 50px; /* Задає внутрішній відступ зверху для заголовка */
}

#pages {
    display: flex; /* Встановлює властивість flex для блоку зі сторінками */
    justify-content: center; /* Вирівнює блок по центру горизонтально */
    align-items: center; /* Вирівнює блок по центру вертикально */
    padding: 10px 0; /* Встановлює внутрішні відступи для блоку зі сторінками */
}



#pages div {
    margin: 0px; /* Встановлює зовнішній відступ між блоками сторінок */
}

#pages a {
    font: 1px "Trebuchet MS", "Lucida Sans"; /* Задає шрифт для посилань */
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out; /* Задає плавний перехід кольорів */
    border: 2px solid #000000; /* Задає рамку для посилань */
    padding: 5px 15px; /* Встановлює внутрішні відступи для посилань */
    background-color: #FFFFFF; /* Задає колір фону посилань */
    border-radius: 10px; /* Задає радіус кутів для посилань */
    text-decoration: none; /* Видаляє підкреслення посилань */
    color: #333; /* Задає колір тексту посилань */
    font-size: 16px; /* Задає розмір шрифту для посилань */
}

#pages a:hover {
    background-color: #BAFF39; /* Задає колір фону посилань при наведенні */
    color: #000000; /* Змінює колір тексту посилань при наведенні */
}

.image-text {
    text-align: justify; /* Для вирівнювання тексту по ширині */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Додайте це для вертикального центрування */
}

.image-text p {
    margin-top: 20px; /* Додайте простір між зображенням і текстом */
}

.shah_img {
    width: auto; /* Встановлює ширину зображення на 100% ширини його батьківського контейнера */
    height: 100px;
   
}

.main{
    text-align: center;
    display: flex;
    justify-content: center; /* Центрує по горизонталі */
    height: 15vh; /* Забезпечує висоту, щоб центрувати елементи по вертикалі */
    margin: 0; /* Забезпечує відсутність внутрішніх відступів */
}

.footer {
    margin: 0; /* Встановлює зовнішній відступ нижнього колонтитула на 0 */
    color: #6e6e6e; /* Задає колір тексту нижнього колонтитула */
    text-align: center; /* Вирівнює текст по центру */
    padding: 10px 0; /* Встановлює внутрішні відступи нижнього колонтитула */
    position: fixed; /* Фіксує колонтитул на вікні браузера */
    bottom: 0; /* Встановлює відступ від нижнього краю вікна браузера */
    width: 100%; /* Задає ширину нижнього колонтитула на всю ширину вікна браузера */
}