/* Клас для стилізації загального фону сторінки */
body {
    background: #6E6E6E; /* Встановлюємо колір фону */
}

/* Стилізація таблиці */
table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif; /* Встановлюємо шрифт для тексту в таблиці */
    text-align: center; /* Вирівнюємо текст по лівому краю */
    border-collapse: separate; /* Розділяємо межі між комірками */
    border-spacing: 5px; /* Задаємо відстань між комірками */
    background: #c3ef71; /* Встановлюємо колір фону таблиці */
    color: #6E6E6E; /* Встановлюємо колір тексту */
    border: 16px solid #BAFF39; /* Встановлюємо товщину та колір рамки */
    border-radius: 20px; /* Закруглюємо кути рамки */
    width: 100%; /* Встановлюємо ширину таблиці */
}

/* Стилізація заголовків таблиці */
th {
    font-size: 18px; /* Задаємо розмір тексту */
    padding: 10px; /* Задаємо відступи від межі комірки */
}
    
/* Стилізація комірок таблиці */
td {
    background: #e1fdac; /* Встановлюємо колір фону комірок */
    padding: 10px; /* Задаємо відступи від межі комірки */
}

/* Стилізація загальної границі таблиці, заголовків і комірок */
table, th, td {
    border-collapse: collapse; /* Згортаємо границі таблиці */
    padding: 1rem; /* Задаємо внутрішні відступи для всіх елементів таблиці */
}

/* Стилізація списку у таблиці */
.list-table {
    width: 99%; /* Встановлюємо ширину */
    max-height: calc(94% - .8rem); /* Встановлюємо максимальну висоту */
    margin: .7rem auto; /* Задаємо відступи від країв */
    border-radius: .6rem; /* Закруглюємо кути */
    overflow: auto; /* Додаємо прокрутку при необхідності */
}

/* Стилізація розділу з посиланнями */
#pages {
    display: flex; /* Встановлюємо гнучкий контейнер */
    justify-content: center; /* Вирівнюємо початок рядка */
    align-items: center; /* Вирівнюємо по вертикалі по центру */
    padding: 20px 0; /* Задаємо внутрішні відступи */
}

/* Стилізація елементів у розділі з посиланнями */
#pages div {
    margin: 0 5px; /* Задаємо зовнішні відступи між елементами */
}

/* Стилізація посилань */
#pages a {
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out; /* Задаємо плавну анімацію при наведенні */
    border: 2px solid #000000; /* Встановлюємо товщину та колір межі */
    padding: 5px 15px; /* Задаємо внутрішні відступи */
    background-color: #FFFFFF; /* Встановлюємо колір фону */
    border-radius: 10px; /* Закруглюємо кути */
    text-decoration: none; /* Вимикаємо підкреслення */
    color: #333; /* Встановлюємо колір тексту */
    font-size: 16px; /* Задаємо розмір тексту */
}

/* Стилізація посилань при наведенні */
#pages a:hover {
    background-color: #BAFF39; /* Змінюємо колір фону */
    color: #000000; /* Змінюємо колір тексту */
}

.footer {
    margin: 0; /* Встановлює зовнішній відступ нижнього колонтитула на 0 */
    color: #6e6e6e; /* Задає колір тексту нижнього колонтитула */
    text-align: center; /* Вирівнює текст по центру */
    padding: 10px 0; /* Встановлює внутрішні відступи нижнього колонтитула */
    position: fixed; /* Фіксує колонтитул на вікні браузера */
    bottom: 0; /* Встановлює відступ від нижнього краю вікна браузера */
    width: 100%; /* Задає ширину нижнього колонтитула на всю ширину вікна браузера */
}